 .q { 
       font-size: 60px; 
       }

.w {
 font-size: 60px; background-color: #A19D25; 
 }
 
.e { 
font-size: 60px; background-color: #DF6E00; 
}

.r { 
font-size: 60px; background-color: #FF86F2; 
}

.t { 
font-size: 60px; background-color: #6BFDFD; 
}

.y { 
font-size: 60px; background-color: #00F4FF; 
}

.u { 
font-size: 60px; background-color: #E800FF; 
}

.i { 
background-color: #D95968; font-size: 60px; 
}

.o { 
background-color: #00FFF0; font-size: 60px; 
}

.p { 
background-color: #0F4B3B; font-size: 60px; color: white; 
}

.a { 
background-color: #A19D70; font-size: 60px; 
}

.s { 
background-color: #0D2C1B; font-size: 60px; color: white; 
}

p, i {
    font-size: 20px;
    font-family: Times New Roman;
}

.border {
    background-color: red;
    font-size: 20px;
}